.search-lightbox {
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 92px 15px;
  min-height: 470px;
  z-index: 3;
  box-shadow: 0 0 8px 1px rgba(17, 20, 48, 0.11);
  opacity: 0;
  visibility: hidden;
  @include animate(opacity visibility);
  display: flex;
  align-items: center;
  justify-content: center;

  &.lightbox-active {
    opacity: 1;
    visibility: visible;
  }

  .close {
    top: 40px;
    right: 55px;
  }
}

@include media('<tablet') {
  .search-lightbox {
    .close {
      top: 35px;
      right: 15px;
    }
  }
}